//globals


// Media Queries

// responsive
@widthNarrow:         ~"(max-width: 320px)";
@widthMedium:         ~"(max-width: 600px)";
@widthMediumLarge:    ~"(min-width: 601px) and (max-width: 768px)";
@widthMediumLargePlus:~"(min-width: 769px) and (max-width: 1023px)";
@widthLarge:          ~"(min-width: 1024px)";

@heightShort:         ~"(max-height: 479px)";
@heightShortMedium:   ~"(min-height: 480px) and (max-height: 560px)";
@heightMedium:        ~"(max-height: 700px)";
@heightTall:          ~"(min-height: 768px)";
@mediaScreen:         ~"only screen and ";

// condition:  is the tablet rotated portrait or landscape?;
@tabletLandscape:      ~"(orientation: landscape)";
@tabletPortrait:       ~"(orientation: portrait)";

// set the min-width and height
@tabletLandscapeWidth:               ~"(min-width: 1024px) and (orientation: landscape)";
@tabletLandscapeHeight:              ~"(min-height: 768px) and (orientation: landscape)";

@tabletPortraitWidth:                ~"(min-width: 768px) and (orientation: portrait)";
@tabletPortraitHeight:               ~"(min-height: 1024px) and (orientation: portrait)";


body, html {
  height: 100%;
}

#body-content {
  height: 100%;
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
    .menu {
      max-width: 900px !important;
      a img {
        width: 50px;
        height: 50px;
    }
  }
  .form {
    margin-top: 20px;
    padding-bottom: 120px;
  }
  @media @tabletPortrait,
  @widthNarrow,
  @widthMedium,
  @widthMediumLarge,
  @widthMediumLargePlus {
    height: 90%;
  }
}

.container.map {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 2000px !important;
  &.form {
    max-width: 900px !important;
  }
}

.top-half {
  height: 100%;
  width: 50%;
  left: 0;
  right: 0;
  top: 0;
  margin-top: -55px;
  float: left;
  margin-right: 0;
  @media @widthLarge {
    width: 50% !important;
  }
  .map-container {
    margin-top: 45px;
    height: 100%;
  }
  @media @tabletPortrait,
  @widthNarrow,
  @widthMedium,
  @widthMediumLarge,
  @widthMediumLargePlus {
    height: 60% !important;
    width: 100% !important;
    float: left;
    margin-right: 0;
    margin-bottom: 45px;
    .map-container {
      margin-top: 45px;
    }
  }
  iframe {
    width: 100%;
    height: 100%;
  }
}

.map-toolbar {
  z-index: 10;
  position: fixed;
  top: 50px;
  width: 100%;
  @media @tabletPortrait,
  @widthNarrow,
  @widthMedium,
  @widthMediumLarge,
  @widthMediumLargePlus {
    position: fixed;
    top: 50px;
    width: 100%;
  }
  .btn {
    &.selected {
      background-color: #337ab7;
      color: white;
    }
  }
}

.bottom-half {
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  margin-right: 0 !important;
  &.full-width {
      width: 100% !important;
  }
  @media @tabletPortrait,
  @widthNarrow,
  @widthMedium,
  @widthMediumLarge,
  @widthMediumLargePlus {
    height: 50% !important;
    width: 100% !important;
    &.full-width {
      height: 100% !important;
    }
  }
  .row {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}

.thumbnail {
  div {
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: black;
  }
  margin-bottom: 30px;
}

.thumbnail:hover {
  text-decoration: none;
}

.list-group-item-success {
  color: #3c763d;
  background-color: #dff0d8;
}

.list-group-item-info {
  color: #31708f;
  background-color: #d9edf7;
}

.list-group-item-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
}

.list-group-item-danger {
  color: #a94442;
  background-color: #f2dede;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar-inverse .navbar-nav>li>a {
  color: #DEEFEA;
}

.navbar-inverse .navbar-nav>.dropdown>a .caret {
  border-top-color: #DEEFEA;
  border-bottom-color: #DEEFEA;
}

.navbar-inverse .navbar-brand {
  color: #DEEFEA;
}

.navbar .navbar-collapse {
  text-align: center;
}

.btn {
  &.full-width {
    width: 100%;
  }
}

.map-container {
  max-width: 100%;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  img {
    max-width: 100%;
    max-height: 100%;

  }
}

.map-toolbar {
  background-color: lightgrey;
  max-width: 100%;
  height: 45px;
  padding: 8px;
}

.list-toolbar {
  position: fixed;
  top: 95px;
  background-color: white;
  max-width: 100%;
  width: 100%;
  height: 45px;
  padding: 8px;
  z-index: 12;
  @media @tabletPortrait,
  @widthNarrow,
  @widthMedium,
  @widthMediumLarge,
  @widthMediumLargePlus {
    position: fixed;
    top: 56% !important;
  }
}

table tr {
  &.selected {
    background-color: #337ab7;
  }
.complete_btn {
    background-color: #5cb85c;
    border-radius: 5px;
    width: 23px;
    height: 20px;
    padding-bottom: 7px;
    padding-left: 3px;
    padding-right: 2px;
    color: white;
    cursor: pointer;
    &:hover {
      background-color: darken(#5cb85c, 5%);
    }
    &.disabled {
      background-color: lightgrey !important;
      cursor: auto;
      pointer-events: none;
    }
  }
  .table_btn {
    &.prestart {
      background-color: #337ab7;
      &:hover {
        background-color: darken(#337ab7, 5%);
      }
    }
    &.complete {
      background-color: #5cb85c;
      &:hover {
        background-color: darken(#5cb85c, 5%);
      }
    }
    &.edit {
      background-color: #f0ad4e;
      padding-left: 4px !important;
      &:hover {
        background-color: darken(#f0ad4e, 5%);
      }
    }
    &.delete {
      background-color: #d9534f;
      padding-left: 4px !important;
      &:hover {
        background-color: darken(#d9534f, 5%);
      }
    }
    border-radius: 5px;
    width: 23px;
    height: 20px;
    padding-bottom: 7px;
    padding-left: 3px;
    padding-right: 2px;
    color: white;
    cursor: pointer;
    &.disabled {
      background-color: lightgrey !important;
      cursor: auto;
      pointer-events: none;
    }
  }
}

#table-task-list_wrapper {
  top: -28px;
  @media @tabletPortrait,
  @widthNarrow,
  @widthMedium,
  @widthMediumLarge,
  @widthMediumLargePlus {
    // top: 0;
    // padding-bottom: 30px;
  }
}

#table-task-list_filter {
  position: fixed;
  z-index: 13;
  right: 1%;
  top: 60px;
  @media @tabletPortrait,
  @widthNarrow,
  @widthMedium,
  @widthMediumLarge,
  @widthMediumLargePlus {
    // position: fixed;
    // top: 57% !important;
  }
  label {
    color: white;
    font-size: 0.5px;
  }
  input {
    border-radius: 30px;
    width: 180px;
  }
}

.control-label {
  &.pull-left {
    text-align: left;
  }
}

.underline {
  border-bottom: 1px solid grey;
}

.insert-form-header {
  position: fixed;
  top: 50px;
  width: 100%;
  height: 50px;
  z-index: 10;
}

.form-header {
  height: 100%;
  width: 100%;
  background-color: grey;
  padding: 15px;
  color: white;
  .header-left {
    float: left;
    text-align: left;
    .glyphicon {
      margin-right: 5px;
      top: 2px !important;
    }
  }
  .header-mid {
    position: absolute;
    left: 50%;
    text-align: center;
  }
  .header-right {
    float: right;
    text-align: right;
    .glyphicon {
      margin-left: 5px;
      top: 2px !important;
    }
  }
  a {
    color: white;
    text-decoration: none;
  }
}

.datepicker[readonly], .timepicker[readonly] {
  cursor: auto !important;
  background-color: white !important;
}

.btn.btn-sm {
  border-radius: 7px;
}

// .form-group.checkbox {
//   background-color: #337ab7;
//   &:hover {
//     background-color: darken(#337ab7, 5%);
//   }
//   &.selected {
//     background-color: darken(#337ab7, 10%);
//   }
//   border-radius: 5px;
//   padding: 5px;
//   color: white;
//   margin-bottom: 30px;
//   margin-top: 30px;
// }

.control-label.checkbox {
  text-align: left;
  background-color: #337ab7;
  &:hover {
    background-color: darken(#337ab7, 5%);
  }
  &.selected {
    background-color: darken(#337ab7, 10%);
  }
  border-radius: 5px;
  padding: 5px;
  color: white;
  margin-bottom: 30px;
  margin-top: 30px;
}

.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    margin-left: 30px !important;
    margin-right: 10px;
  }

.modal-dialog {
  height: 100%;
}

.picker__input[readonly] {
  background-color: #eee !important;
}